<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.monkeyman.rundgangdurchdiealtstadt">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-library android:name="com.google.android.maps"/>

    <uses-feature
        android:glEsVersion="0x0020000"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:configChanges="locale|orientation"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Holo.Light">

        <service android:name=".GeofenceTrasitionService"></service>
        <activity android:name=".Details" android:label="Infos"
            android:configChanges="locale|orientation"/>
        <activity
            android:name=".MapsActivity"
            android:label="@string/app_name"
            android:configChanges="locale|orientation">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PrefsActivity" android:label="@string/options" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyASDL6qI5ew60yJj0nwlesbDb0rdu_rht0" />
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
    </application>

</manifest>
